.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.content h1 {
  margin: 0;
}
.digimons {
  /* Digimon ol */
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.digimons .digimon {
  /* Digimon li */
  display: flex;
  flex-direction: column;
}

.digimon img {
  max-width: 400px;
  height: auto;
}
.digimonTitle {
  text-align: end;
}
